/* CSS rules */

/* html selector applies to everything within the html tags.
It doesn't overwrite any more specific styling, which * can sometimes do. */
html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* universal selector selects everything */
* {
    background-color: #383838;
}

/* type selectors select all elemets of that type */
/* type selectors can be grouped with a comma if rules apply to more than one selector (grouping selectors)*/
h1,
h2,
p,
a {
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

h2 {
    padding: 0px;
    margin: 0px;
    border: none;
    text-align: center;
    vertical-align: top;
}

ul,
ol {
    line-height: 25px;
    font-family: Arial, sans-serif;
    color: white
}

/* set a rule that only applies to one selector but note this would be overwritten if
same declaration is also in group selector (cascade means rule for largest number of selectors win
if selectors are all of same specificity) */
ul {
    list-style: none;
    padding: 0px;
}

a {
    text-decoration: none; /* removes underline from links */
}

/* class selectors apply to all elements of that class */
.ingredients {
    max-width: 350px;
    display: inline-block;
    margin-left: 10px;
    border: 2px solid lightgrey;
    padding: 15px 25px;
}

.ingredients-list {
    list-style: square;
    text-align: left;
}

.ingredients-heading {
    font-style: italic;
    text-align: left;
}

.steps {
    text-align: left;
    display: inline-block;
    max-width: 850px;
    margin-left: 200px;
    vertical-align: top;
    border: 2px solid lightgrey;
    padding: 15px;
}

.steps-heading {
    font-style: italic;
    text-align: left;
}

.description {
    text-align: left;
    display:inline-block;
    vertical-align: top;
    margin: 20px;
}

/* Chaining selectors so that rule only applies if an element has all chained selectors as classes/type etc. */
.description-heading {
    font-style: italic;
    text-align: left;
}

.allergens {
    font-size: small;
    text-align: left;
}

/* descendant combinators are used to apply rules to an element iff element matches selector and has an
ancestor that matches the first selector. Descendant combinator are represeted by a single space*/

.recipe-link {
    display: block;
    color: white;
    border: 2px solid lightgrey;
    max-width: 600px;
    margin: 20px auto;
}


.recipe-link .recipe-title {
    display: inline-block;
    vertical-align: middle;
}

.recipe-pic {
    max-width: 200px;
    display: inline-block;
    margin: 10px;
}

.recipe-link .recipe-pic {
    max-width: 100px;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

/* Cascade:
Specifity means more specific rule always wins (ID > Class > Type > Universal).
The rule with the largest number of selectors always wins if specificity is equal.
Typography-based properties (color, font-size, font-family, etc.) are usually inherited by child
but these are always overwritten by more specific rules.
If there are conflicting rules for the same number of selectors of the same type, rule defined last
(nearest the bottom of the css document) wins.
*/

.container {
    border: 10px solid white;
    max-width: 800px;
    margin: auto;
    padding: 0px;
}

.home {
    display: inline-block;
    text-decoration: none;
    border: 5px solid white;
    color: white;
    padding: 5px;
    margin: 5px;
}