/* CSS rules */

* {
    background-color: darkgrey;
}

h1,
h2,
p {
    text-align: center;
    font-family: Arial, sans-serif;
    color: white
}

ul,
ol {
    line-height: 100px;
    font-family: Arial, sans-serif;
    color: white
}

ul {
    list-style: none;
}

.ingredients {
    list-style:square;
}

